.catalog-page {
  margin: 0 40px;
  display: grid;
  grid-template-columns: repeat(4, $card-width);
  justify-content: center;
  row-gap: $card-gap-row;
  column-gap: $card-gap-column;

  @media (max-width: $card-width*4 + $card-gap-column*3 + 80px) {
    & {
      grid-template-columns: repeat(auto-fill, $card-width);
    }
  }
}
