.product-card {
  display: flex;
  flex-direction: column;
  max-width: $card-width;
  padding: 14px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  &__current-price {
    font-size: 16px;
    font-weight: 700;
  }

  &__product-img {
    width: 160px;
    height: 134px;
    align-self: center;
    margin-top: 15px;
    margin-bottom: 45px;
    transition: transform 400ms;

    &:hover {
      transform: scale(1.2);
      border: 3px solid #f3f3f3;
      box-sizing: initial;
      margin-top: 0;
      margin-bottom: 30px;
      padding: 12px 0;
    }
  }
  
  &__vendor-code {
    margin-bottom: 15px;
  }
  
  &__product-name {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 6px;
    line-height: 15px;
  }

  &__vendor-code,
  &__review,
  &__price-label {
    @extend %small-text;
  }

  &__rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__buy-button {
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    color: $white-color;
    background-color: $light-blue-color;
    text-align: center;
    border: 1px solid $light-blue-color;
    border-radius: 5px;
    line-height: 38px;
    transition: color, background-color 400ms;

    &:hover {
      color: $light-blue-color;
      background-color: $white-color;
    }
  }
}
