.product-card {
  max-width: $card-width;
  padding: 14px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;

  &__price {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: baseline;
    margin-bottom: 20px;
  }
  
  &__current-price {
    text-align: end;
    font-size: 16px;
    font-weight: 700;
  }

  &__product-img {
    width: 160px;
    height: 134px;
    margin: 15px 5px 41px;
    
    transition: transform 400ms;

    &:hover {
      transform: scale(1.2);
    }
  }
  
  &__vendor-code {
    margin-bottom: 15px;
  }
  
  &__product-name {
    margin-bottom: 6px;

    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
  }

  &__vendor-code,
  &__review,
  &__price-label {
    @extend %small-text;
  }

  &__rating {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    margin-bottom: 20px;
  }

  &__review {
    text-align: end;
  }

  &__buy-button {
    display: block;
    border: 1px solid $light-blue-color;
    border-radius: 5px;

    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    line-height: 38px;

    color: $white-color;
    background-color: $light-blue-color;
    text-align: center;

    transition: color, background-color 400ms;

    &:hover {
      color: $light-blue-color;
      background-color: $white-color;
    }
  }
}
